<div class = "center jumbotron">
  <h2>Welcome to Hotel Reservation System</h2>
  
  <h3>
    You can make reservations here! 
  </h3>
  
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
</div>

<div class ="grid">
  <div class = "row">
    <div class="col-lg-4">
      <h3 class="midrow">
        Check in
      </h3>
      <p>Calender Date</p>
    </div>  
    
    <div class="col-lg-4">
      <h3 class="midrow">
        Check out
      </h3>
      <p>Calender Date</p>
    </div>
  </div>
  <div class = "row">
    <div class="col-xs-2">
      <label for="ex1">Phone</label>
      <div class="left"
      <input class="form-control" id="ex1" type="text">
      </div>
    </div>
  </div>
  
  <div class = "right">
    <button type="submit" class="btn btn-success">Check Availability</button>
  </div>
  <div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>
  
<div class='input-group date' id='datetimepicker1'>
  <input type='text' class="form-control" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>  